*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Dancing Script', cursive;;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
    background-color:rgb(255, 255, 255);
    height: 100vh;
}

.container h1 {
    color: #175cff;
    font-size: 80px;
}

.timer{
display: flex;
font-size: 55px;
font-weight: bold;
color: #333;
}

.time{
display: flex;
align-items:center;
justify-content: center;
margin-right: 10px;
color: #172953;
min-width: 90px;
}

.separator{
    font-size: 60px;
    padding: 0 10px;
    color: #525763;
}

#mileseconds{
    font-size: 30px;
    color: #525763;
}

.buttons{
    display: flex;
    gap: 1rem;
}

.btn{

    padding: 10px 20px;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: all 0.2s ease-in-out;


}

.btn:hover{
transform: scale(1.1);

}

#startbtn{
    background-color:#175cff;
    color:#fff
}

#pausebtn, #resumebtn{

display: none;
}